body {
    font-family: Arial, sans-serif;
    background-color: #F6F9FA;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* login container */
#loginContainer {
    background-color: #004D67;
    width: 80%;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
}

#loginContainer h1 {
    color: #FFA32C;
    text-align: center;
}

#loginContainer input[type="email"],
#loginContainer input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

#loginContainer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F6F9FA;
    background-color: #00B6DC;
    cursor: pointer;
    width: 100%;
    margin: 5px 0 0 0;
}

/* User Management Container */
#userManagementContainer {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-height: 100vh;
}

#userManagementContainer h1 {
    color: #004D67;
}

#userManagementContainer h2 {
    color: #FFCD19;
}

#userManagementContainer form {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
}

#userManagementContainer input[type="email"],
#userManagementContainer input[type="password"],
#userManagementContainer input[type="text"],
#userManagementContainer select {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #68D7EE;
    border-radius: 5px;
}


.btn-addUser{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F6F9FA;
    background-color: #5ACA75;
    cursor: pointer;
}

.btn-edit{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F6F9FA;
    background-color: #00B6DC;
    cursor: pointer;
}

.btn-del{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F6F9FA;
    background-color: #FE7E7E;
    cursor: pointer;
}

#userManagementContainer .table-container {
    width: 100%;
    overflow-x: auto;
}

#userManagementContainer table {
    min-width: 300px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #userManagementContainer table thead {
        display: none;
    }

    #userManagementContainer table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border-bottom: 1px solid #D9D9D9;
    }

    #userManagementContainer table td {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        border: none;
    }
}

#userManagementContainer table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#userManagementContainer table th,
#userManagementContainer table td {
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
}

#userManagementContainer table tr:nth-child(even) {
    background-color: #68D7EE;
}

#userManagementContainer table tr:nth-child(odd) {
    background-color: #F5D665;
}

#editFormContainer {
    margin: 20px 0;
    padding: 20px;
    background-color: #001927;
    color: #F6F9FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#editFormContainer h2 {
    color: #FE7E7E;
}

#editFormContainer input[type="email"],
#editFormContainer input[type="password"],
#editFormContainer input[type="text"],
#editFormContainer select {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #68D7EE;
    border-radius: 5px;
}

#editFormContainer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F6F9FA;
    background-color: #5ACA75;
    cursor: pointer;
}
