body {
    font-family: Arial, sans-serif;
    background-color: #F6F9FA;
    color: #333333;
}

/* login container */
#loginContainer {
    background-color: #004D67;
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    color: #D9D9D9;
}

#loginContainer h1 {
    color: #FFA32C;
    text-align: center;
}

#loginContainer input[type="email"],
#loginContainer input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

#loginContainer button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F6F9FA;
    background-color: #00B6DC;
    cursor: pointer;
}

/* User Management Container */
#userManagementContainer {
    margin: 20px;
}

#userManagementContainer h1 {
    color: #004D67;
}

#userManagementContainer h2 {
    color: #FFCD19;
}

#userManagementContainer form {
    margin-bottom: 20px;
}

#userManagementContainer input[type="email"],
#userManagementContainer input[type="password"],
#userManagementContainer input[type="text"],
#userManagementContainer select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #68D7EE;
    border-radius: 5px;
}

#userManagementContainer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F6F9FA;
    background-color: #5ACA75;
    cursor: pointer;
    margin: 10px 0;
}

#userManagementContainer table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#userManagementContainer table th,
#userManagementContainer table td {
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
}

#userManagementContainer table tr:nth-child(even) {
    background-color: #68D7EE;
}

#userManagementContainer table tr:nth-child(odd) {
    background-color: #F5D665;
}

#editFormContainer {
    margin: 20px 0;
    padding: 20px;
    background-color: #001927;
    color: #F6F9FA;
    border-radius: 10px;
}

#editFormContainer h2 {
    color: #FE7E7E;
}

#editFormContainer input[type="email"],
#editFormContainer input[type="password"],
#editFormContainer input[type="text"],
#editFormContainer select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #68D7EE;
    border-radius: 5px;
}

#editFormContainer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F6F9FA;
    background-color: #5ACA75;
    cursor: pointer;
    margin: 10px 0;
}
