.form {
    font-size: 2em;
    color: #F76C6c;
    text-align: center;
}

.input-box{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1eml

}

.btn {

}